body {
  width: 100%;
  overflow: hidden;
  background: url("images/Background1.png");
  background-size: 70%;
 
      
}

.screen{
  position: relative;
  top: -10px;
  width: 80%;
  height: 800px;
  border: 1px solid white;
  margin: 80px auto;
  overflow: hidden;
  background-color: black;
  /*display: flex;
  justify-content: center;
  align-items: center;
  */

}

.rocket {
  position: absolute;
  pointer-events: none;
  width: 10%;
  height: 10%;
  background: url("images/Rocket.png");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 10%;
  left: 50%;
  
}

.flame {
  pointer-events: none;
  position: absolute; 
  width : 4%;
  height : 4%;
  background: url("images/Flamme1.png");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 8%;
  left: 50.8%;
  overflow: hidden;
 
 
}

.shot {
  position: absolute;
 
  left: 51%;
  width: 5%;
  height: 6%;
  background: url("images/shot.png");
  background-size: contain;
  background-repeat: no-repeat;
}  


.shootbutton {
  display: none;
}
.accelPermsButton{
  display: none;
}


.rock{
  pointer-events: none;
 position: absolute ;
 top: -150px;
 
 width: 5%;
 height: 5%;
 background: url("images/Rock.png");
 background-size: contain;
 background-repeat: no-repeat;
 
 animation-timing-function: linear;
 animation: animateRocks linear  ;
}  

body     { 
  font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
  color: white;    
  background-color: #383838;    
}
.wrapper {
  text-align: center;
  background-color: #383838;
  color: white;
}
.button {
  background-color: grey;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;


}
.score {
  position: relative;
  display: inline-block;
  padding:5px;
  left: 90%;
  width: 230px;
  margin: 5px auto;
  font-size: 30px;
  
}
.my_popup
{
position: relative;
border: 3px solid #888;
display: inline-block;
padding:10px;
left: 45%;
width: 230px;
margin: 80px auto;
display: none;

}


@keyframes animateRocks{
  from
   {
     transform: translateY(0);
     transform: translateX(80%);
   }
   to
   {
     transform: translateY(100vh);
   }
}



.screen i {
  position: absolute;
    top: -250px;
    background: white;
    animation: animateStars linear infinite;

}
@keyframes animateStars{
  from
   {
     transform: translateY(0);
     transform: translateX(80%);
   }
   to
   {
     transform: translateY(100vh);
   }
}

@media only screen and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3)  { 
  /* For mobile phones: */
  body{
    width: 100%;
    height: 90%;
    
    overflow: hidden;
    position: absolute;
    background-size: 70%;
   
 
  }
  .screen{
    width: 90%;
    height: 90%;
    margin: 10px;
    overflow: hidden;
    position: absolute;
    margin: 18%,18%, 18%,18%;
    top: 38px;
    
    
  }
  .shootbutton {
    position: absolute;
    display: block;
    height: 7.5%;
    width: 15%;
    left: 40%;
   
    
    font-size: 10px;
    top: 100%;
    height: 7.5%;
    width: 15%;
    }

  .accelPermsButton{
    position: absolute;
    display: block;
    height: 7.5%;
    width: 15%;
    left: 40%;
    top:0;
    
    font-size: 10px;

    }
  .my_popup{
    text-align: center;
    left: 20%;
}
  .flame {
   bottom: 8.5%;
      left: 53%;
    }
    .rock{
     width: 10%;
     height: 10%;
    }

  @keyframes animateRocks{
    from
      {
        transform: translateY(0);
        transform: translateX(5%);
      }
      to
      {
        transform: translateY(80vh);
      }
  }
}


 