body {
  width: 100%;
  overflow: hidden;
  background: url("images/Background1.png");
  background-size: 70%;
 
      
}

.screen{
  position: relative;
  top: -10px;
  width: 80%;
  height: 710px;
  border: 1px solid white;
  margin: 80px auto;
  overflow: hidden;
  background-color: black;
  /*display: flex;
  justify-content: center;
  align-items: center;
  */

}

.rocket {
  position: absolute;
  pointer-events: none;
  width: 10%;
  height: 10%;
  background: url("images/Rocket.png");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 10%;
  left: 50%;
  
}

.flame {
  pointer-events: none;
  position: absolute; 
  width : 6%;
  height : 6%;
  background: url("images/Flamme1.png");
  background-size: contain;
  background-repeat: no-repeat;
  bottom: 8%;
  left: 50.8%;
  overflow: hidden;
 
 
}

.shot {
  position: absolute;
 
  left: 51%;
  width: 5%;
  height: 6%;
  background: url("images/shot.png");
  background-size: contain;
  background-repeat: no-repeat;
}  


.shootbutton {
  display: none;
}
.accelPermsButton{
  display: none;
}


.rock{
  pointer-events: none;
 position: absolute ;
 top: -150px;
 
 width: 5%;
 height: 5%;
 background: url("images/Rock.png");
 background-size: contain;
 background-repeat: no-repeat;
 
 animation-timing-function: linear;
 animation: animateRocks linear ;
}  

@keyframes animateRocks{
  from
   {
     transform: translateY(0);
     transform: translateX(80%);
   }
   to
   {
     transform: translateY(100vh);
   }
}



.screen i {
  position: absolute;
    top: -250px;
    background: white;
    animation: animateStars linear infinite;

}
@keyframes animateStars{
  from
   {
     transform: translateY(0);
     transform: translateX(80%);
   }
   to
   {
     transform: translateY(100vh);
   }
}

@media only screen and (device-width: 390px) 
and (device-height: 844px) 
and (-webkit-device-pixel-ratio: 3)  { 
  /* For mobile phones: */
  body{
    width: 100%;
    height: 90%;
    
    overflow: hidden;
    position: absolute;
    background-size: 70%;
   
 
  }
  .screen{
    width: 90%;
    height: 100%;
    margin: 10px;
    overflow: hidden;
    position: absolute;
    margin: 20px,20%, 20%,20%;
    
    
  }
  .shootbutton {
    display: block;
    position: absolute;
    background-color: white;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    
    font-size: 10px;
   
    border-radius: 50%;
    left: 45%;
    top: 120%;
    height: 7.5%;
    width: 15%;
    }

  .accelPermsButton{
    display: block;
    height: 7.5%;
    width: 15%;
    left: 0;
    top:0;
    font-size: 5px;

    }
  
}


 